@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/product/Homepagelight",
            type: 'GET',
            //data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            console.log('ajax call from homepage');
            console.log(data);
          
            },
            error: function () {
            alert("Error!");
            }
        });
    });
</script>
